{% assign city = site.data.cities[page.city] %}
<section id="acknowledgment" class="bg-secondary text-center">
    <div class="container">
        <div class="row">   
            <div class="col-md-8 col-md-offset-2">
                <div class="section-heading">
                    <h2>Our acknowledgment</h2>
                </div>
                
                <p>Science belongs to everyone. It should be pursued for the benefit of all people and for the health of the environment we depend upon.</p>
				
                <p>
                At March for Science 
                {% if city.nation %}
                    {{ city.name }} we acknowledge the traditional custodians of the land on which we will meet, the {{ city.people }} people of the {{ city.nation }} nation
                {% else %}
                    Australia we acknowledge the traditional custodians of the Australian continent, the Aboriginal and Torres Strait Islander peoples
				{% endif %}
                and pay our respects to ancestors and Elders both past and present.
                </p>

                <p>We recognise that science and scientific pursuits have been used in the past to disenfranchise many minority groups. We are committed to the promotion of science, now and in the future, as an endeavour which all persons have the right to pursue and enjoy the fruits of, regardless of age, gender, ethnicity, disability, sexual orientation, religion or lack thereof, political affiliation, or socioeconomic status.</p>
				
                <p>Diversity has strengthened and enriched scientific inquiry, and the inclusion of all peoples and the promotion of equal opportunity and training within science should be a goal pursued by scientists and non-scientists alike.</p>
            </div>
        </div>
    </div>
</section>