<section id="who" class="bg-clear features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div>
                    <h2>Who are we?</h2>
                    <p class="text-muted">The people helping to organise the march across Australia</p>
                    <hr><br>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 clearfix">
                <p class="text-muted small small">
                	<strong>Stuart Khan</strong><br>
					Stuart is an Associate Professor in Civil &amp; Environmental Engineering at the University of New South Wales. He has a passion for clean water, including water to drink, water to swim in and water for the environment.
				</p>
            </div>
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 clearfix">
                <p class="text-muted small">
	                <strong>Erin Vaughn</strong><br>
					Erin is a molecular geneticist, passionate science educator and science advocate. As a recent immigrant to Australia and mother of two, she became involved in March for Science Australia to take part in standing up for the future of science in her adopted home.
				</p>
            </div>
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 clearfix">
                <p class="text-muted small">
	                <strong>Danielle Asson</strong><br>
					Danielle is a PhD student at James Cook University, who hails from Oregon, USA. She is participating in the March for Science because she wants to ensure that science and scientific awareness remain important aspects of society in the future.
				</p>
            </div>
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 clearfix">
                <p class="text-muted small">
	                <strong>Luke James</strong><br>
					Luke has a background in science and politics. He has a Bachelor of Science and is passionate about seeing science become a greater focus of our political system.
				</p>
            </div>
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 clearfix">
                <p class="text-muted small">
	                <strong>Jin-oh Choi</strong><br>
					Jin-oh is President of the Launceston Skeptics Inc. a science advocate who seeks to promote critical thinking and an understanding of the scientific method.
				</p>
            </div>
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 clearfix">
                <p class="text-muted small">
	                <strong>Kate Ferris</strong><br>
					Kate is a Human Ethics Officer and a member of the SAGE Athena Swan project at La Trobe University for the College of Science Technology and Engineering. With degrees in Psychology (Hons) from Deakin University and MA (Global) Public Health from the University of Melbourne, she is a mad passionate science supporter.
				</p>
            </div>
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 clearfix">
                <p class="text-muted small">
	                <strong>Vivien Csallo</strong><br>
					Vivien currently works within a team of dedicated clinicians endeavouring to promote quality, equitable and consistent cancer care services across Queensland. Previous stints in communications and events within the Agricultural and Animal Science areas cemented a great love of science and science communication.
				</p>
            </div>
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 clearfix">
                <p class="text-muted small">
	                <strong>Katie Chartrand</strong><br>
					Katie Chartrand is a tropical marine scientist at James Cook University working on the drivers of marine plants in coastal habitats at risk from development along the Great Barrier Reef. She believes in strengthening the scientific community’s ties to the broader public through science communication and working in her field with regulators and industry to develop evidence-based policy.
				</p>
            </div>
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 clearfix">
                <p class="text-muted small">
	                <strong>Andrea Leong</strong><br>
					Andrea is a microbiologist working in microbiome research, examining how gut bacteria can affect general health. She feels strongly about supporting universal scientific literacy and critical thinking through a strong public education system.
				</p>
            </div>
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 clearfix">
                <p class="text-muted small">
	                <strong>Jessie Andrikis</strong><br>
					Jessie is a Science graduate who is passionate about the importance of Science within the community. She became involved in the March for Science due to concern, as a future doctor, over the current societal opinions of science to show the public how imperative it is to the world.
				</p>
            </div>
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 clearfix">
                <p class="text-muted small">
	                <strong>Gavrielle Untracht</strong><br>
					Gavrielle is a PhD student at the University of Western Australia in the optical and biomedical imaging laboratory. She is excited to be contributing to the March for Science to affirm her dedication for using science and engineering to improve the world.
				</p>
            </div>
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 clearfix">
                <p class="text-muted small">
	                <strong>Matt Nurse</strong><br>
					Matt is a communications director and science fan. Matt has a masters degree in communications and is passionate about science communication, and turning facts and evidence into public policy.
				</p>
            </div>
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 clearfix">
                <p class="text-muted small">
	                <strong>Jocelyn Prasad</strong><br>
					Jocelyn is a PR professional who has worked for politicians, corporations and universities, and takes great satisfaction from communicating science and ideas. Jocelyn believes science offers the best hope for her and her family’s future. 
				</p>
            </div>
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 clearfix">
                <p class="text-muted small">
	                <strong>Andrea Finno</strong><br>
					Software developer, problem solver and lifelong science enthusiast. Andrea would like to see a world where humans more critically consider their actions towards the Earth, its animals and themselves.
				</p>
            </div>
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 clearfix">
                <p class="text-muted small">
	                <strong>Janet Salisbury</strong><br>
					Janet has a background in cancer research but some 20 years ago she changed career direction to science writing and editing and founded a science communications and publishing business that grew from 1 to 17 staff. She has recently handed over the business reins to pursue other interests.
				</p>
            </div>
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 clearfix">
                <p class="text-muted small">
	                <strong>Alena Kimbrough, PhD Candidate</strong><br>
					Alena is a climate scientist who studies ancient monsoon behaviour using stalagmites from tropical caves. She is an active member in the March for Science because science is everywhere, affects everyone, and we must all get involved.
				</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 text-center">
                <p class="text-muted small">
	                <strong>Kristin Barry</strong><br>
				</p>
            </div>
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 text-center">
                <p class="text-muted small">
	                <strong>Amanda Dunne</strong><br>
				</p>
            </div>
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 text-center">
                <p class="text-muted small">
	                <strong>Abigael Proctor</strong><br>
				</p>
            </div>
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 text-center">
                <p class="text-muted small">
	                <strong>Adam Ford</strong><br>
				</p>
            </div>
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 text-center">
                <p class="text-muted small">
	                <strong>Alex Payne</strong><br>
				</p>
            </div>
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 text-center">
                <p class="text-muted small">
	                <strong>Sean Geoghegan</strong><br>
				</p>
            </div>
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 text-center">
                <p class="text-muted small">
	                <strong>Glen Jackson</strong><br>
				</p>
            </div>
        </div>
        <hr>
    </div>
</section>