{% assign city = site.data.cities[page.city] %}
<header>
    <div class="container-fluid hero" style="background:url('{{ page.hero }}'); background-size:cover; background-position: center center; position: relative;">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                    <div class="header-content text-center">
                        <div class="header-content-inner">
                            <img src="../img/Atom_AUS_v5-light-solid-fulltext-nocity.svg" id="logo" alt="March for Science Logo" />
                            <h2 class="city-heading-text text-center">{{ city.name | upcase }}</h2>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <ul class="list-inline list-social">
                                        {% if city.facebook %}
                                        <li class="social-facebook">
                                            <a href="{{ city.facebook }}" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        {% endif %}

                                        {% if city.twitter %}
                                        <li class="social-twitter">
                                            <a href="{{ city.twitter }}" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        {% endif %}

                                        <li class="social-instagram">
                                            <a href="https://www.instagram.com/sciencemarchau/" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>