{% assign city = site.data.cities[page.city] %}
<section id="contact" class="contact bg-tertiary">
    <div class="container">
        <h2>Get in touch with us</h2>
        <ul class="list-inline list-social">
            {% if city.facebook %}
            <li class="social-facebook">
                <a href="{{ city.facebook }}" title="{{ city.name }} Facebook" alt="{{ city.name }} Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            {% endif %}
            {% if city.twitter %}
            <li class="social-twitter">
                <a href="{{ city.twitter }}" title="{{ city.name }} Twitter" alt="{{ city.name }} Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>
            {% endif %}
            {% if city.instagram %}
            <li class="social-instagram">
                <a href="{{ city.instagram }}" title="{{ city.name }} Instagram" alt="{{ city.name }} Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
            </li>
            {% endif %}
            {% if city.email %}
            <li class="social-mail">
                <a href="mailto:{{ city.email }}" title="{{ city.name }} Email" alt="{{ city.name }} Email"><i class="fa fa-envelope"></i></a>
            </li>
            {% endif %}
        </ul>
        <br>

        {% if city.email %}
        <p>Please direct all {{ city.name }} media enquires to:<br><a href="mailto:{{ city.email }}" title="email" alt="{{ city.name }} Email">{{ city.email }}</a></p>
        {% endif %}

        <p>For national media enquires, please direct them to:<br><a href="mailto:media@marchforscienceaustralia.org" title="Media Email">media@marchforscienceaustralia.org</a></p>
    </div>
</section>