<section id="contact" class="contact bg-primary">
    <div class="container">
        <h2>Follow us for updates</h2>
        <ul class="list-inline list-social">
            <li class="social-facebook">
                <a href="https://www.facebook.com/MarchForScienceAu/" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="social-twitter">
                <a href="https://twitter.com/ScienceMarchAu" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="social-instagram">
                <a href="https://www.instagram.com/sciencemarchau/" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
            </li>
            <li class="social-mail">
                <a href="mailto:info@marchforscienceaustralia.org" title="email"><i class="fa fa-envelope"></i></a>
            </li>
        </ul>
        <br>
        <p>Please direct all media enquires to:<br><a href="mailto:media@marchforscienceaustralia.org" title="email">media@marchforscienceaustralia.org</a></p>
    </div>
</section>
