<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="header-content">
                    <div class="header-content-inner">
                        <img src="/img/Atom_AUS_v5-dark-solid-text.svg" id="logo" alt="March for Science Logo" />

                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <ul class="list-inline list-social">
                                    <li class="social-facebook">
                                        <a href="https://www.facebook.com/MarchForScienceAu/" target="_blank"><i class="fa fa-facebook" aria-hidden="true" title="Facebook"></i><span class="sr-only">Facebook</span></a>
                                    </li>
                                    <li class="social-twitter">
                                        <a href="https://twitter.com/ScienceMarchAu" target="_blank"><i class="fa fa-twitter" aria-hidden="true" title="Twitter"></i><span class="sr-only">Twitter</span></a>
                                    </li>
                                    <li class="social-instagram">
                                        <a href="https://www.instagram.com/sciencemarchau/" target="_blank"><i class="fa fa-instagram" aria-hidden="true" title="Instagram"></i><span class="sr-only">Instagram</span></a>
                                    </li>
                                    <li class="social-mail">
                                        <a href="mailto:info@marchforscienceaustralia.org"><i class="fa fa-envelope" aria-hidden="true" title="Email"></i><span class="sr-only">Email</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-1">
                <div class="header-content">
                    <div class="header-content-inner text-justify">

                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="body-font">Saturday, 14th April 2018</h2>
                            </div>
                        </div>

                        <h3>A global event bringing together people from all walks of life who believe we need more evidence and reason in our political process.</h3>

                        <br>

                        <div class="key-buttons">
                            <div>
                                <a href="https://www.eventbrite.com.au/o/march-for-science-australia-12831334980" title="RSVP to your nearest event" alt="RSVP" target="_blank" style="background:#00517F url(/img/calendar.png) no-repeat 15px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 13px 17px 13px 56px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0 1px 0 0 #1f5a89; text-shadow: 0 1px rgba(0, 0, 0, 0.3); border-bottom: 0px;">RSVP</a>
                            </div>
                            <div>
                                <a href="https://www.redbubble.com/people/sciencemarchau/collections/664399-national" title="Merchandise" alt="Merchandise" target="_blank" style="background:#00517F url(/img/merch_icon.png) no-repeat 10px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 13px 17px 13px 56px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0 1px 0 0 #1f5a89; text-shadow: 0 1px rgba(0, 0, 0, 0.3); border-bottom: 0px;">Merchandise</a>
                            </div>
                            <div>
                                <script src="https://donorbox.org/install-popup-button.js" type="text/javascript" defer></script>
                                <a class="dbox-donation-button" href="https://donorbox.org/march-for-science-australia-2" style="background:#00517F url(https://d1iczxrky3cnb2.cloudfront.net/red_logo.png) no-repeat 18px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 13px 17px 13px 56px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0 1px 0 0 #1f5a89; text-shadow: 0 1px rgba(0, 0, 0, 0.3); border-bottom: 0px;">Donate</a>
                            </div>
                        </div>
                        <br />
                        <h4><a href="/downloads/Main Page ARABIC.pdf" target="_blank">Arabic</a> translation.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
