<section id="media" class="bg-tertiary features">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                
                    <h2>Media</h2>
                
                <p><strong>Wednesday, 22 March 2017</strong> - <a href="downloads/mfsau-welcomes-new-national-science-statement_final.pdf" target="_blank">March for Science Australia welcomes commonwealth government’s national science statement as a step in the right direction.</a> (PDF, 37kb)</p>
                <hr>
                <br>
            </div>
        </div>
    </div>
</section>
