<section id="mission" class="bg-primary features">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="section-heading">
                    <h2>SCIENCE, NOT SILENCE</h2>
                </div>
                <p>The <a href="https://www.marchforscience.com/" target="_blank">March for Science</a> celebrates the public discovery, distribution, and understanding of scientific knowledge as crucial to the freedom, success, health, and safety of life on this planet.</p>
                <p>We are a nonpartisan group, marching to demand action in the following areas:<br><strong>Literacy</strong>, <strong>Communication</strong>, <strong>Policy</strong>, and <strong>Investment</strong>.</p>
                <hr>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="fa fa-book"></i>
                                <h3>Universal Literacy</h3>
                                <p>A well-informed community is essential to a free and successful society. We support education to promote broad public knowledge and discussion of scientific work. As professionals, parents, and community-engaged volunteers, we enthusiastically contribute our time and expertise to helping children and students of all ages engage with the physical universe and biological world. </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="fa fa-users"></i>
                                <h3>Open Communication</h3>
                                <p>Publicly-funded scientists have a responsibility to communicate their research and public outreach and accessibility of scientific knowledge should be encouraged. Communication of scientific findings and their implications must not be suppressed.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="fa fa-university"></i>
                                <h3>Informed Policy</h3>
                                <p>Public policy should be guided by peer-reviewed evidence and scientific consensus. Public policy must enable scientists to communicate their publicly-funded research results, and must support literacy in science, technology, engineering, and mathematics.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="fa fa-usd"></i>
                                <h3>Stable Investment</h3>
                                <p>A long-term, strategic approach to investment in scientific research and development is essential for driving true innovation. Government commitment to stable science funding policy will deliver solutions to complex challenges, promoting prosperity for all.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>