<header>
    <div class="container-fluid hero" style="background:url('{{ page.hero }}'); background-size:cover; background-position: center center; position: relative;">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 hero-pad">    
					<img src="/img/Atom_AUS_v5-light-solid-fulltext-landscape.svg?2019" id="logo" alt="March for Science Australia" />
                </div>
            </div>
        </div>
    </div>
</header>