---
layout: cities
city: brisbane
title: March for Science Brisbane
# permalink: /brisbane/
hero: /img/heros/brisbane-hero-px.jpg
---

{% assign city = site.data.cities[page.city] %}

<section id="details" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Event Details</h2>
                <h3>Meet at Reddacliff Place, 11am</h3>
                <p class="text-muted">Saturday 22 April 2017 <br> 11AM – 2PM AEST</p>
                {% if city.eventbrite %}
                <h4><a href="{{city.eventbrite}}" title="RSVP" alt="RSVP" target="_blank">RSVP</a></h4>
                {% endif %}
                <hr><br>
                {% if city.merch %}
                <a href="{{city.merch}}" title="Merchandise" alt="Merchandise" target="_blank" style="background:#00517F url(/img/merch_icon.png) no-repeat 10px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 13px 17px 13px 56px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0 1px 0 0 #1f5a89; text-shadow: 0 1px rgba(0, 0, 0, 0.3); border-bottom: 0px; margin: 0 10px 0 10px;">Merchandise</a>
                {% endif %}
                {% if city.donation %}
                <script src="https://donorbox.org/install-popup-button.js" type="text/javascript" defer></script>
<a class="dbox-donation-button" href="{{city.donation}}" style="background:#00517F url(https://d1iczxrky3cnb2.cloudfront.net/red_logo.png) no-repeat 18px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 13px 17px 13px 56px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0 1px 0 0 #1f5a89; text-shadow: 0 1px rgba(0, 0, 0, 0.3); border-bottom: 0px;">Donate</a>
                {% endif %}
                <hr><br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 ">
                <p>The march will depart Reddacliff Place at approx 11:30am and proceed along George Street foothpaths to the Speakers Corner outside Parliament House near QUT Gardens Point where there will be speeches and activites.</p>

                <div class="thumbnail">
                    <img src="/img/Reddacliff_Place.jpg" alt="Reddacliff Place" style="width:100%">
                    <div class="caption">
                      <small>Reddacliff Place (near the Treasury Casino and the Brisbane Square Library)</small>
                    </div>
                </div>

                

                <h3>What to bring</h3>

                <ul>
                    <li>Posters and signs reflecting the science issues you&rsquo;re passionate about!</li>
                    <li>Science costumes and props if that&rsquo;s your thing!</li>
                    <li>Your kids, family, colleagues and/or friends (but please leave four-legged friends at home)</li>
                    <li>Snacks, a bottle of water and lunch if desired. A picnic rug if you&#39;d like to enjoy the Botanic Gardens</li>
                </ul>

                <h3>Participant guide</h3>

                <p><strong>Do</strong></p>

                <ul>
                    <li>Be respectful and positive towards all people</li>
                    <li>Follow instructions from officials and march representatives</li>
                    <li>Post your photos in the lead up to the event and on the day using #SciBNE and tag @SciencemarchBNE</li>
                    <li>Wear your Brisbane March for Science t-shirt</li>
                    <li>Be sunsmart</li>
                    <li>Dispose of litter thoughtfully</li>
                    <li>HAVE FUN!</li>
                </ul>

                <p><strong>Don&rsquo;t</strong></p>

                <ul>
                    <li>Carry anything that is unsafe or a hazard to others</li>
                    <li>Act in an aggressive, disrespectful or unsafe way (eg. pushing in the crowd or throwing objects)</li>
                    <li>Litter or damage public spaces</li>
                </ul>

                <p><a href="/downloads/marchforscience-dos-and-donts.pdf" target="_blank">Download the Do's and Dont's PDF</a> (43KB)</p>

                <h3>Personal details and your privacy&nbsp;</h3>

                <p>Eventbrite registrations help us plan for the event and communicate with the awesome people planning to attend. We respect your privacy and will not, under any circumstances, share your details with anyone.</p>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3539.942783884094!2d153.02083085049617!3d-27.471040582806385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b915a04522329c9%3A0x6504fb31e9581722!2sReddacliff+Place!5e0!3m2!1sen!2sau!4v1488971829000" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center">Speakers</h2>
                <hr><br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center">
                
                <img src="/img/speakers/brisbane/lisa_cox.jpg" alt="lisa cox" width="300" class="img-rounded">
                <h3>Lisa Cox</h3>
                <p>
                It’s by no means an exaggeration to say that Brisbane writer Lisa Cox is here today because of science. After her brain haemorrhaged at age 24, Lisa was in a coma for 3 weeks, on life support for 2 months and in hospital for over a year – and that was just the first time.</p>
                <p>Whether she’s having another joint replaced, heart valve repaired or being fitted for another prosthetic limb, Lisa is very grateful to scientific advancements for making her partially bionic body possible. She is a true example of just what is possible if science is prioritised.</p>
                <br>

                <img src="/img/speakers/brisbane/anne_brant.jpg" alt="anne brant" width="300" class="img-rounded">
                <h3>Anne Brant</h3>
                <p>Anne Brant is a celebrated science advocate, who passionately encourages young people to study and pursue careers in STEM (Science, Technology, Engineering and Maths). She has worked as a high school teacher and at universities promoting the importance of science and how scientific knowledge and skills can empower us to be informed and active members of our community.</p>
                <p>Anne has won numerous awards for her teaching and leadership in the delivery of science, including recognition by the Queensland Government as a Queensland Science Champion.</p>
                <br>

                <img src="/img/speakers/brisbane/joel_gilmore.jpg" alt="joel gilmore" width="300" class="img-rounded">
                <h3>Joel Gilmore <small>(MC)</small></h3>
                <p>Dr Joel Gilmore is a physicist and science presenter who has appeared on TV programs such as Catalyst, The Shak and most recently, the Food Lab with Ben Milbourne. He is passionate about communicating the value of science and inspiring the next generation of critical thinkers.</p>
                <br>

                <img src="/img/speakers/brisbane/lee_constable.jpg" alt="joel gilmore" width="300" class="img-rounded">
                <h3>Lee Constable</h3>
                <p>Lee Constable is the host of <a href="https://tenplay.com.au/channel-eleven/scope" target="_blank">Scope</a>, a fast, funny and informative science TV show for kids on Network Ten. <a href="https://tenplay.com.au/channel-eleven/scope" target="_blank">Scope</a> was created to demystify the world of science and technology and is produced in association with the Commonwealth Scientific and Industrial Research Organisation (CSIRO).</p>
                <p>Lee believes in making science fun, relevant, accessible and above all fascinating for her young audience.</p>
                <br>

                <img src="/img/speakers/brisbane/andrew_stephenson.jpg" alt="Andrew Stephenson" width="300" class="img-rounded">
                <h3>Dr Andrew Stephenson</h3>
                <p>Andrew is a science communicator who has spent much of his career sparking interest and engagement in science. In addition to creating science-based public events and helping produce science-related television, he has personally performed science demonstration shows and workshops for over 10,000 school students all over QLD and the NT.</p>
                <br>

                <img src="/img/speakers/brisbane/mikayla_ella.jpg" alt="Mikayla and Ella" width="300" class="img-rounded">
                <h3>Mikayla and Ella</h3>
                <p>Mikayla and Ella are year 11 international students originally from the USA. Outraged by the current war on science, they will share their perspective on the importance of a strong science education and what we can do to remain engaged after the March for Science 2017.</p>
                <br>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Media Updates</h2>
                <p class="text-muted">What is happening with the march in {{ city.name }}</p>
                <hr><br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                <h3>Mon, 10 April 2017</h3>
                <p class="text-muted"><a href="/downloads/Brisbane-locals-stand-up-for-science.pdf" target="_blank">Science, not silence: Brisbane locals take to the streets in global campaign.</a> (Media Release, PDF, 122kb)</p>
            </div>
        </div>
        <hr><br>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Not in {{ city.name }}? We're organising science marches all across Australia!</p>
                <p>See the <a href="https://marchforscienceaustralia.org">March For Science Australia</a> page for more details!</p>
                <p>If there aren't any marches near you or you can't make it come join the <a href="https://www.facebook.com/virtualmarchforscience/" target="_blank">Virtual March for Science</a>.</p>
            </div>
        </div>
    </div>
</section>
