---
layout: cities
city: brisbane
title: March for Science Brisbane
permalink: /brisbane/
hero: /img/heros/brisbane-hero-px.jpg
---

{% assign city = site.data.cities[page.city] %}

<section id="details" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Event Details</h2>
                <h3>Meet at Reddacliff Place, 11am</h3>
                <p class="text-muted">Saturday 22 April 2017 <br> 11AM – 2PM AEST</p>
                {% if city.eventbrite %}
                <h4><a href="{{city.eventbrite}}" title="RSVP" alt="RSVP" target="_blank">RSVP</a></h4>
                {% endif %}
                <hr><br>
                {% if city.merch %}
                <a href="{{city.merch}}" title="Merchandise" alt="Merchandise" target="_blank" style="background:#00517F url(/img/merch_icon.png) no-repeat 10px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 13px 17px 13px 56px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0 1px 0 0 #1f5a89; text-shadow: 0 1px rgba(0, 0, 0, 0.3); border-bottom: 0px; margin: 0 10px 0 10px;">Merchandise</a>
                {% endif %}
                {% if city.donation %}
                <script src="https://donorbox.org/install-popup-button.js" type="text/javascript" defer></script>
<a class="dbox-donation-button" href="{{city.donation}}" style="background:#00517F url(https://d1iczxrky3cnb2.cloudfront.net/red_logo.png) no-repeat 18px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 13px 17px 13px 56px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0 1px 0 0 #1f5a89; text-shadow: 0 1px rgba(0, 0, 0, 0.3); border-bottom: 0px;">Donate</a>
                {% endif %}
                <hr><br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="text-muted">The march will depart Reddacliff Place at approx 11:30am and proceed along George Street foothpaths to the Speakers Corner outside Parliament House near QUT Gardens Point where there will be speeches and activites.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3539.942783884094!2d153.02083085049617!3d-27.471040582806385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b915a04522329c9%3A0x6504fb31e9581722!2sReddacliff+Place!5e0!3m2!1sen!2sau!4v1488971829000" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center">Speakers</h2>
                <hr><br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center">
                
                <img src="/img/speakers/brisbane/lisa_cox.jpg" width="300" class="img-rounded">
                <h3>Lisa Cox</h3>
                <p>
                It’s by no means an exaggeration to say that Brisbane writer Lisa Cox is here today because of science. After her brain haemorrhaged at age 24, Lisa was in a coma for 3 weeks, on life support for 2 months and in hospital for over a year – and that was just the first time.</p>
                <p>Whether she’s having another joint replaced, heart valve repaired or being fitted for another prosthetic limb, Lisa is very grateful to scientific advancements for making her partially bionic body possible. She is a true example of just what is possible if science is prioritised.</p>
                <br>

                <img src="/img/speakers/brisbane/anne_brant.jpg" width="300" class="img-rounded">
                <h3>Anne Brant</h3>
                <p>Anne Brant is a celebrated science advocate, who passionately encourages young people to study and pursue careers in STEM (Science, Technology, Engineering and Maths). She has worked as a high school teacher and at universities promoting the importance of science and how scientific knowledge and skills can empower us to be informed and active members of our community.</p>
                <p>Anne has won numerous awards for her teaching and leadership in the delivery of science, including recognition by the Queensland Government as a Queensland Science Champion.</p>
                <br>

                <p><em>More speakers to be announced soon.</em></p>
            </div>
        </div>
        <hr><br>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Not in {{ city.name }}? We're organising science marches all across Australia!</p>
                <p>See the <a href="https://marchforscienceaustralia.org">March For Science Australia</a> page for more details!</p>
                <p>If there aren't any marches near you or you can't make it come join the <a href="https://www.facebook.com/virtualmarchforscience/" target="_blank">Virtual March for Science</a>.</p>
            </div>
        </div>
    </div>
</section>
