---
layout: cities
city: cairns
title: March for Science Cairns
# permalink: 
hero: /img/heros/cairns-hero-px.jpg
---

{% assign city = site.data.cities[page.city] %}

<section id="details" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                <h2 class="text-center">We did it!</h2>
                <h3>Thanks to the awesome Cairns community for coming out and putting us on the world stage with our March for Science symbol! Check out the results for yourself.</h3>
                <iframe src="https://player.vimeo.com/video/214265589" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <p><a href="https://vimeo.com/214265589">March for Science</a> from <a href="https://vimeo.com/biopixel">BIOPIXEL</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                <hr><br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Event Details</h2>
                <h3>Eastern Events Lawn</h3>
                <p class="text-muted">Saturday 22 April 2017 <br> Time: 4pm</p>
                {% if city.eventbrite %}
                <h4><a href="{{city.eventbrite}}" target="_blank">RSVP</a></h4>
                {% endif %}
                <hr><br>
                {% if city.merch %}
                <a href="{{city.merch}}" title="Merchandise" alt="Merchandise" target="_blank" style="background:#00517F url(/img/merch_icon.png) no-repeat 10px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 13px 17px 13px 56px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0 1px 0 0 #1f5a89; text-shadow: 0 1px rgba(0, 0, 0, 0.3); border-bottom: 0px; margin: 0 10px 0 10px;">Merchandise</a>
                {% endif %}
                {% if city.donation %}
                <script src="https://donorbox.org/install-popup-button.js" type="text/javascript" defer></script>
<a class="dbox-donation-button" href="{{city.donation}}" style="background:#00517F url(https://d1iczxrky3cnb2.cloudfront.net/red_logo.png) no-repeat 18px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 13px 17px 13px 56px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0 1px 0 0 #1f5a89; text-shadow: 0 1px rgba(0, 0, 0, 0.3); border-bottom: 0px;">Donate</a>
                {% endif %}
                <hr><br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p><a href="https://www.eventbrite.com.au/e/pre-event-march-for-science-cairns-media-blitz-on-the-beach-tickets-33346920537" target="_blank"><img src="/img/cairns_pre-event.jpg" alt="Pre-event: HUMAN MARCH FOR SCIENCE SYMBOL ON THE BEACH!" width="200" class="img-rounded"></a></p>
                <h3>Pre-event</h3>
                <h4>HUMAN MARCH FOR SCIENCE SYMBOL ON THE BEACH!!</h4>
                <p class="text-muted">10:00 - 10:30 AM <br> Yorkeys Knob Beach, Sims Esplanade</p>
                <p><a href="https://www.eventbrite.com.au/e/pre-event-march-for-science-cairns-media-blitz-on-the-beach-tickets-33346920537" target="_blank">RSVP NOW</a></p>
                <hr><br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="text-muted">The March for Science Cairns event will be formatted as a rally.</p>
                <p class="text-muted">The rally will begin at 4pm with talks on the Eastern Events Lawn along The Esplanade (on the grass between the Lagoon and Salt House). The event will include a diverse group of speakers across the sciences that contribute to the local Cairns and Far North region and will share how their work and the broader role of science in our community is critical to our success and future in the tropics.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2880.1209760314846!2d145.7793900032449!3d-16.918677661529305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4f5f6e0b2b1b9502!2sCairns+Esplanade+Eastern+Event+Lawn!5e0!3m2!1sen!2sau!4v1490783145082" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center">
                <h2>Master of Ceremonies</h2>

                <h3>Andy Ridley</h3>

                <p>CEO Citizens of the Great Barrier Reef; Director of Circle economy Amsterdam ; ex-CEO and Founder of Earth Hour</p>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center">

                <h2>Speakers</h2>

                <br>

                <img src="/img/speakers/cairns/AndyRidley.jpg" alt="Andy Ridley" width="200" class="img-rounded">
                <h3>Andy Ridley</h3>
                <ul class="text-left">
                    <li>CEO Citizens of the Great Barrier Reef; previous Director of Circle Economy Amsterdam; ex-CEO and Founder of Earth Hour</li>
                    <li>Engaging millions in the future of the GBR and by implication the future of our planet.</li>
                    <li>Andy’s core focus is on growing a circular economy to reduce emissions and provide a prosperous future as our world grows to 9 billion people</li>
                </ul><br>

                <img src="/img/speakers/cairns/GudjuGudju.jpg" alt="Gudju Gudju" width="200" class="img-rounded">
                <h3>Gudju Gudju</h3>
                <ul class="text-left">
                    <li>Traditional Elder of the Gimuy Walubara Yidinji people</li>
                    <li>Director of <a href="http://www.abriculture.com/" target="_blank">Abriculture</a></li>
                    <li>Expertise in tribal science and tribal ecology; skillsets bring together tribal ecological knowledge (TEK) and western science in a culturally sensitive way</li>
                </ul><br>

                <img src="/img/speakers/cairns/SteveTurton.jpg" alt="Steve Turton" width="200" class="img-rounded">
                <h3>Dr. Steve Turton</h3>
                <ul class="text-left">
                    <li>Director of Terrain Wet Tropics NRM and Adjunct Professor, Central Queensland University Cairns</li>
                    <li>Steve has spent decades working on climate change impacts and adaptation in tourism, agriculture, forestry, local government and business sectors</li>
                    <li>He has extensive expertise in science-practice partnerships, world heritage and protected area management</li>
                </ul><br>

                <img src="/img/speakers/cairns/ScottRitchie.jpg" alt="Scott Ritchie" width="200" class="img-rounded">
                <h3>Dr. Scott Ritchie</h3>
                <ul class="text-left">
                    <li>Professor and Medical Entomologist, James Cook University Cairns</li>
                    <li>His research focuses on prevention of mosquito-borne diseases such as dengue and Zika in the tropics</li>
                    <li>Involved in the Eliminate Dengue program that has been successfully deployed in north Queensland</li>
                </ul><br>

                <img src="/img/speakers/cairns/KarenJoyce.jpg" alt="Karen Joyce" width="200" class="img-rounded">
                <h3>Dr. Karen Joyce</h3>
                <ul class="text-left">
                    <li>Remote Sensing and GIS Senior Lecturer at James Cook University Cairns</li>
                    <li>Co-Founder of the She Flies outreach program - an initiative designed to encourage more women and girls to engage in science, technology, engineering and maths (STEM) through the world of drones</li>
                </ul><br>

                <img src="/img/speakers/cairns/RichardFitzpatrick.jpg" alt="Richard Fitzpatrick" width="200" class="img-rounded">
                <h3>Richard Fitzpatrick</h3>
                <ul class="text-left">
                    <li>Emmy Award winning cinematographer and qualified marine biologist specialising in sharks</li>
                    <li>He has shot more than 50 films for clients such as the BBC, National Geographic and Discovery Channel</li>
                    <li>Richard was one of the first to raise the alarm over the back-to-back mass coral bleaching event as it unfolded in February this year</li>
                </ul><br>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center">

                <h2>Science in the Pub <br><small>The Salt House</small></h2>

                <p>At the end of the rally (approx. 530pm), we encourage everyone to take a short stroll over to the <a href="https://salthouse.com.au/" target="_blank">Salt House</a> to mingle with your fellow scientists and science supporters, as well as to connect with individuals and organisations. We want this to be an open dialogue between everyday members of our community, scientists, business leaders, politicians and organisations to ensure everyone can discuss science and get any questions they have answered in a friendly and welcoming environment.&nbsp;</p>

                <p>At the Salt House, we will be joining in festivities for the Cairns and Far North Environment Centre&rsquo;s (<a href="http://cafnec.org.au/" target="_blank">CAFNEC</a>) Bat Festival being held on the Salt House Lawn. The CAFNEC event is an opportunity to learn more about our local Cairns&rsquo; bat population and watch the flying foxes fly out over Trinity Inlet at sunset. This event is also family friendly with kids&rsquo; crafts, activities and live music.&nbsp;</p>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center">

                <h2>Other Details</h2>

                <p>Please feel free to bring a placard, sign, or wear your favourite shirt in support of all things science! This is a family-friendly event and we encourage all ages including children to attend this celebration of science. We also therefore ask that any signage avoid inappropriate language that might offend others.</p>

                <p>As part of the national March for Science event, we have a fantastic Red Bubble website where you can purchase t-shirts and other merchandise to wear on the day to support the Cairns event. Just scroll down to find a variety of gear for Cairns or other Australia locations if you will be attending somewhere else on the day. 20-30% of funds from all purchases go back to March for Science to help cover the costs of this volunteer-based event for everything from PA systems to marketing materials and more. Thank you so much for your support in making this a successful event!</p>

                {% if city.merch %}
                <a href="{{city.merch}}" title="Merchandise" alt="Merchandise" target="_blank" style="background:#00517F url(/img/merch_icon.png) no-repeat 10px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 13px 17px 13px 56px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0 1px 0 0 #1f5a89; text-shadow: 0 1px rgba(0, 0, 0, 0.3); border-bottom: 0px; margin: 0 10px 0 10px;">Merchandise</a>
                {% endif %}

            </div>
            <div class="col-lg-12 text-center">
                <hr><br>
                <p>Not in {{ city.name }}? We're organising science marches all across Australia!</p>
                <p>See the <a href="https://marchforscienceaustralia.org">March For Science Australia</a> page for more details!</p>
                <p>If there aren't any marches near you or you can't make it come join the <a href="https://www.facebook.com/virtualmarchforscience/" target="_blank">Virtual March for Science</a>.</p>
            </div>
        </div>
    </div>
</section>
