---
layout: cities
city: cairns
title: March for Science Cairns
permalink: /cairns/
hero: /img/heros/cairns-hero-px.jpg
---

{% assign city = site.data.cities[page.city] %}

<section id="details" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Event Details</h2>
                <h3>Eastern Events Lawn</h3>
                <p class="text-muted">Saturday 22 April 2017 <br> Time: 4pm</p>
                {% if city.eventbrite %}
                <h4><a href="{{city.eventbrite}}" target="_blank">RSVP</a></h4>
                {% endif %}
                <hr><br>
                {% if city.merch %}
                <a href="{{city.merch}}" title="Merchandise" alt="Merchandise" target="_blank" style="background:#00517F url(/img/merch_icon.png) no-repeat 10px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 13px 17px 13px 56px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0 1px 0 0 #1f5a89; text-shadow: 0 1px rgba(0, 0, 0, 0.3); border-bottom: 0px; margin: 0 10px 0 10px;">Merchandise</a>
                {% endif %}
                {% if city.donation %}
                <script src="https://donorbox.org/install-popup-button.js" type="text/javascript" defer></script>
<a class="dbox-donation-button" href="{{city.donation}}"" style="background:#00517F url(https://d1iczxrky3cnb2.cloudfront.net/red_logo.png) no-repeat 18px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 13px 17px 13px 56px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0 1px 0 0 #1f5a89; text-shadow: 0 1px rgba(0, 0, 0, 0.3); border-bottom: 0px;">Donate</a>
                {% endif %}
                <hr><br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="text-muted">The March for Science Cairns event will be formatted as a rally.</p>
                <p class="text-muted">The rally will begin at 4pm with talks on the Eastern Events Lawn along The Esplanade (on the grass between the Lagoon and Salt House). The event will include a diverse group of speakers across the sciences that contribute to the local Cairns and Far North region and will share how their work and the broader role of science in our community is critical to our success and future in the tropics.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2880.1209760314846!2d145.7793900032449!3d-16.918677661529305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4f5f6e0b2b1b9502!2sCairns+Esplanade+Eastern+Event+Lawn!5e0!3m2!1sen!2sau!4v1490783145082" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center">
                <h2>Master of Ceremonies</h2>

                <h3>Andy Ridley</h3>
                
                <p>CEO Citizens of the Great Barrier Reef; Director of Circle economy Amsterdam ; ex-CEO and Founder of Earth Hour</p>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center">

                <h2>Speakers</h2>

                <h3>Andy Ridley</h3>

                <p>CEO Citizens of the Great Barrier Reef; previous Director of Circle Economy Amsterdam; ex-CEO and Founder of Earth Hour; Engaging millions in the future of the GBR and by implication the future of our planet with a core focus on growing a circular economy to reduce emissions and provide a prosperous future as our world grows to 9 billion people</p>

                <h3>Steve Turton</h3>

                <p>Director of Terrain Wet Tropics NRM and Adjunct Professor, Central Queensland University Cairns; Climate change impacts and adaptation in tourism, agriculture, forestry, local government and business sectors</p>

                <h3>Scott Ritchie</h3>

                <p>Medical Entomologist, James Cook University Cairns; Focus on vector-borne disease prevention and eradication in the tropics and principal investigator in the Eliminate Dengue program</p>

                <h3>Karen Joyce</h3>

                <p>Remote Sensing and GIS Senior Lecturer at James Cook University Cairns; Co-Founder of the She Flies outreach program - an initiative designed to encourage more women and girls to engage in science, technology, engineering and maths (STEM) through the world of drones</p>

                <p>1-2 more great speakers will be announced in the coming week so check back soon!!</p>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center">

                <h2>Science in the Pub <br><small>The Salt House</small></h2>

                <p>At the end of the rally (approx. 530pm), we encourage everyone to take a short stroll over to the <a href="https://salthouse.com.au/" target="_blank">Salt House</a> to mingle with your fellow scientists and science supporters, as well as to connect with individuals and organisations. We want this to be an open dialogue between everyday members of our community, scientists, business leaders, politicians and organisations to ensure everyone can discuss science and get any questions they have answered in a friendly and welcoming environment.&nbsp;</p>

                <p>At the Salt House, we will be joining in festivities for the Cairns and Far North Environment Centre&rsquo;s (<a href="http://cafnec.org.au/" target="_blank">CAFNEC</a>) Bat Festival being held on the Salt House Lawn. The CAFNEC event is an opportunity to learn more about our local Cairns&rsquo; bat population and watch the flying foxes fly out over Trinity Inlet at sunset. This event is also family friendly with kids&rsquo; crafts, activities and live music.&nbsp;</p>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center">

                <h2>Other Details</h2>

                <p>Please feel free to bring a placard, sign, or wear your favourite shirt in support of all things science! This is a family-friendly event and we encourage all ages including children to attend this celebration of science. We also therefore ask that any signage avoid inappropriate language that might offend others.</p>

                <p>As part of the national March for Science event, we have a fantastic Red Bubble website where you can purchase t-shirts and other merchandise to wear on the day to support the Cairns event. Just scroll down to find a variety of gear for Cairns or other Australia locations if you will be attending somewhere else on the day. 20-30% of funds from all purchases go back to March for Science to help cover the costs of this volunteer-based event for everything from PA systems to marketing materials and more. Thank you so much for your support in making this a successful event!</p>

                {% if city.merch %}
                <a href="{{city.merch}}" title="Merchandise" alt="Merchandise" target="_blank" style="background:#00517F url(/img/merch_icon.png) no-repeat 10px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 13px 17px 13px 56px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0 1px 0 0 #1f5a89; text-shadow: 0 1px rgba(0, 0, 0, 0.3); border-bottom: 0px; margin: 0 10px 0 10px;">Merchandise</a>
                {% endif %}

            </div>
            <div class="col-lg-12 text-center">
                <hr><br>
                <p>Not in {{ city.name }}? We're organising science marches all across Australia!</p>
                <p>See the <a href="https://marchforscienceaustralia.org">March For Science Australia</a> page for more details!</p>
                <p>If there aren't any marches near you or you can't make it come join the <a href="https://www.facebook.com/virtualmarchforscience/" target="_blank">Virtual March for Science</a>.</p>
            </div>
        </div>
    </div>
</section>
