---
layout: cities
city: canberra
title: March for Science Canberra
permalink: /canberra/
hero: /img/heros/canberra-hero-px.jpg
---

{% assign city = site.data.cities[page.city] %}

<section id="details" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Event Details</h2>
                <h3>TBA</h3>
                <p class="text-muted">Saturday 14 April 2018</p>
                {% if city.eventbrite %}
                <h4><a href="{{city.eventbrite}}" title="RSVP" alt="RSVP" target="_blank">RSVP</a></h4>
                {% endif %}
                <hr><br>
                {% if city.merch %}
                <a href="{{city.merch}}" title="Merchandise" alt="Merchandise" target="_blank" style="background:#00517F url(/img/merch_icon.png) no-repeat 10px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 13px 17px 13px 56px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0 1px 0 0 #1f5a89; text-shadow: 0 1px rgba(0, 0, 0, 0.3); border-bottom: 0px; margin: 0 10px 0 10px;">Merchandise</a>
                {% endif %}
                {% if city.donation %}
                <script src="https://donorbox.org/install-popup-button.js" type="text/javascript" defer></script>
                <a class="dbox-donation-button" href="{{city.donation}}" style="background:#00517F url(https://d1iczxrky3cnb2.cloudfront.net/red_logo.png) no-repeat 18px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 13px 17px 13px 56px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0 1px 0 0 #1f5a89; text-shadow: 0 1px rgba(0, 0, 0, 0.3); border-bottom: 0px;">Donate</a>
                {% endif %}
                <!-- <hr><br> -->
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                TBA
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center maps" >
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d788.0388926338553!2d144.9640869!3d-37.8098249!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642cba5a6a51b%3A0x451827e301e9d7c4!2sState+Library+Forecourt%2C+Melbourne+VIC+3000!5e0!3m2!1sen!2sau!4v1490462667754" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div> -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Get involved</h2>
                <h3>Ask a Scientist</h3>
                <h4>Are you a scientist who is prepared to engage with the public and others at the March for Science? We're looking for people like you, who are willing to stand on a soap box, lounge on a picnic rug or sit with others to chat about why you are at the March for Science, to talk about science and discuss what you do as a scientist.</h4>
                <h4><a href="https://docs.google.com/forms/d/e/1FAIpQLSe_Uug5WvyhoElDNIFc4QsCrQu64MdbjlrWWVwUU8E5Y-4nog/viewform?c=0&w=1">Volunteer form here</a></h4>
            </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Speakers</h2>
                <img src="/img/speakers/canberra/loong_wang.png" alt="Loong Wang" width="300" class="img-rounded">
                <h3>Loong Wang<br>Chief Technology Officer, Republic Protocol</h3>
                <h4>Loong has been professionally programming since he moved to Canberra in 2010. In 2013 he went on to study at the Australian National University where he specialized in concurrent and distributed systems, completing research in supercomputing and designing massively parallel programming languages. Eager to continue his work in industry, Loong co-founded a design and development studio where he worked for several years working with government and private enterprise. In 2017, his passion for distributed systems led him to co-found Republic Protocol, a company that advanced the state-of-the-art in decentralized computations, becoming the first to build a decentralized dark pool for cryptocurrencies. After 2 months, the company raised over $40M and he continues to work there in his position as Chief Technology Officer.</h4>
                <br>
                <img src="/img/speakers/canberra/frank_bowden.png" alt="Frank Bowden" width="300" class="img-rounded">
                <h3>Professor Frank Bowden, MBBS MD FRACP Grad Dip Biostats and Epi FAChSHM</h3>
                <h4>Depending on who he sits next to at the dinner table, Professor Bowden will decide which of his professional roles he should use to introduce himself. Professor Bowden is the principal medical advisor for the ACT Government, the current senior specialist of infectious disease at the Canberra Hospital and the foundation professor of medicine at the Australian National University. His special research interest has been population health approaches to the control of infectious diseases (especially sexually transmitted infections). He teaches a course in Evidence Based Medicine and is a board member of the One Disease Foundation which is working in the Northern Territory to eliminate crusted scabies. His books 'Gone Viral - the germs that share our lives' and 'Infectious - are a doctor's eye opening insights into contagious diseases.</h4>
                <br>
                <img src="/img/speakers/canberra/sean_geoghegan.jpg" alt="Sean Geoghegan" width="300" class="img-rounded">
                <h3>Sean Geoghegan, PhD</h3>
                <h4>Sean is a medical physicist who works in Canberra and manages a team providing medical physics and radiation engineering services. He is interested in life and helping others, particularly those who access our healthcare system. Sean is a strong advocate for safety, quality and efficiency so that as many people can access appropriate technology to prevent, diagnose and treat disease. He joined March for Science to support good science communication, its understanding, its adoption as evidence for policy and its sustainable funding. He lives the experience of science really helping others.</h4>
                <br>
                <img src="/img/speakers/canberra/emma_booth.jpg" alt="Emma Booth" width="300" class="img-rounded">
                <h3>Emma Booth, B.Pharm Grad.Dip</h3>
                <h4>Emma is a pharmacist who has worked mainly in hospitals. Emma promotes the use of Evidence Based Medicine to help provide quality health care and has a strong belief in non-biased scientific evidence. Emma values diversity,  likes to help others and cares about the environment.</h4>
            </div>
            <div class="col-lg-12 text-center">
                <hr><br>
                <p>Not in {{ city.name }}? We're organising science marches all across Australia!</p>
                <p>See the <a href="https://marchforscienceaustralia.org">March For Science Australia</a> page for more details!</p>
                <p>If there aren't any marches near you or you can't make it come join the <a href="https://www.facebook.com/virtualmarchforscience/" target="_blank">Virtual March for Science</a>.</p>
            </div>
        </div>
    </div>
</section>
