---
layout: cities
city: hobart
title: March for Science Hobart
permalink: /hobart/
hero: /img/heros/hobart-hero-px.jpg
---

{% assign city = site.data.cities[page.city] %}

<section id="details" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Event Details</h2>
                <h3>Parliamentary Gardens</h3>
                <p class="text-muted">Saturday 14 April 2018<br />1:00 PM - 3:00 PM AEST</p>
                {% if city.eventbrite %}
                <h4><a href="{{city.eventbrite}}" title="RSVP" alt="RSVP" target="_blank">RSVP</a></h4>
                {% endif %}
                <hr><br>
                {% if city.merch %}
                <a href="{{city.merch}}" title="Merchandise" alt="Merchandise" target="_blank" style="background:#00517F url(/img/merch_icon.png) no-repeat 10px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 13px 17px 13px 56px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0 1px 0 0 #1f5a89; text-shadow: 0 1px rgba(0, 0, 0, 0.3); border-bottom: 0px; margin: 0 10px 0 10px;">Merchandise</a>
                {% endif %}
                {% if city.donation %}
                <script src="https://donorbox.org/install-popup-button.js" type="text/javascript" defer></script>
                <a class="dbox-donation-button" href="{{city.donation}}" style="background:#00517F url(https://d1iczxrky3cnb2.cloudfront.net/red_logo.png) no-repeat 18px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 13px 17px 13px 56px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0 1px 0 0 #1f5a89; text-shadow: 0 1px rgba(0, 0, 0, 0.3); border-bottom: 0px;">Donate</a>
                {% endif %}
                <hr><br>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                TBA
            </div>
        </div> -->
        <div class="row">
            <div class="col-lg-12 text-center maps" >
                <iframe width="100%" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJc0vyqYh1bqoRI_pSVrCku9M&key=AIzaSyBfL1AlC9XUuWcfoHVxR4QMpHvdBG8Idfw" allowfullscreen></iframe>
                <hr>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2>Get Involved</h2>
          <h3><a href="https://www.examiner.com.au/story/5340270/march-for-science-tasmania-calls-for-better-investment-in-future/" target="_blank">March for Science Tasmania calls for better investment in future</a></h3>
          <h3><a href="https://www.theadvocate.com.au/story/5341212/tasmanians-to-march-for-science-as-part-of-international-campaign/" target="_blank">Tasmanians to march for science as part of international campaign</a></h3>
          <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FMarchforScienceHobart%2Fposts%2F2027578387517194&width=500" width="500" height="436" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
          <h3><a href="http://www.examiner.com.au/story/5298734/tasmanians-to-march-for-science-in-launceston-and-hobart/" target="_blank">Tasmanians to March for Science in Launceston and Hobart</a></h3>
          <h3><a href="http://www.examiner.com.au/story/5276876/tasmanias-march-for-science-at-risk-of-being-cancelled/" target="_blank">Tasmania's March for Science struggles for volunteers</a></h3>
          <p>For those who might be interested in volunteering, both Hobart and <a href="/launceston/">Launceston</a> volunteers are using a Facebook Messenger group chat to organise their events. Please feel free to send a request to join either <a href="https://m.me/join/AbY1eGUrKPWV7A7c" target="_blank">Hobart Facebook Messenger group chat</a> or <a href="https://m.me/join/AbZ5dPDS2g8e5cuJ" target="_blank">Launceston Facebook Messenger group chat</a>.</p>
          <h4><a href="https://airtable.com/shrdYtXs8l6l0vdyY" target="_blank">Volunteer here</a></h4>
          <a href="/who/"><img src="/img/Launceston+Hobart.jpg" width="300"/></a>
          <p>Both Hobart and <a href="/launceston/">Launceston</a> events are being led by <a href="/who/">Jin-oh Choi</a>. He can be reached on 0408 271 800 or <a href="mailto:launceston@marchforscienceaustralia.org">launceston@marchforscienceaustralia.org</a>.</p>
          <p>Second-in-command (2IC) on the day is <a href="/who/">Patrick Lennard</a>, he can be reached on ‭0467 357 870‬.</p>
          <p>N.B. <a href="/who/">Jin-oh Choi</a>, Lead Event Organiser will be in <a href="/launceston/">Launceston</a> on the day.</p>
          <hr>
          </div>
        </div>
          <div class="row" id="speakers">
            <div class="col-lg-12 text-center">
                <h2>Speakers</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center">
                        <img src="/img/speakers/hobart/brigid_heywood.jpeg" alt="Brigid Heywood" width="300" class="img-rounded">
                        <h3>Professor Brigid Heywood<br><small>Deputy Vice-Chancellor (Research), University of Tasmania</small></h3>
                        <p>Professor Brigid Heywood (BSc) (PhD) is Deputy Vice-Chancellor (Research) at the University of Tasmania. Professor Heywood has responsibility for the research and innovation strategy of the University, the University research institutes, research students, research infrastructure and commercialisation services.</p>
                        <p>Prior to taking up this position, Professor Heywood was the Assistant Vice-Chancellor Research, Academic and Enterprise at Massey University in New Zealand, where she led the development and implementation of the strategies, policies and standards to underpin its research and teaching effort. Preceding this position Professor Heywood held the office of Pro Vice-Chancellor for Research and Enterprise at England’s Open University. Her academic background and research career placed Professor Heywood as a leader at the intersection of medical sciences and inorganic chemistry and she has worked in diverse fields from process science to earth sciences, to advanced materials.</p>
                        <img src="/img/speakers/hobart/jamie_kirkpatrick.jpg" alt="Jamie Kirkpatrick" width="300" class="img-rounded">
                        <h3>Distinguished Professor Jamie Kirkpatrick<br><small>Distinguished Professor, University of Tasmania</small></h3>
                        <p>Distinguished Professor Jamie Kirkpatrick, measures his success by the new things he discovers that allow us to better protect the natural world, and by how much they are used to do so. He has been awarded the Eureka Prize for Environmental Research and an Order of Australia for service to forest and world heritage conservation.</p>
                        <img src="/img/speakers/hobart/jessica_munday.jpg" alt="Jessica Munday" width="300" class="img-rounded">                        
                        <h3>Jessica Munday<br><small>Secretary, Unions Tasmania</small></h3>
                        <p>Jessica Munday is the current Secretary of Unions Tasmania, the peak body for trade unions in Tasmania representing 50,000 workers across industry, in the private and public sector. Prior to leading Unions Tasmania, Jessica worked with the Community and Public Sector Union for over 12 years. During this time, Jessica spent much time working with union members in federal sciences agencies such as the Bureau of Meteorology, the Australian Antarctic Division (AAD) and the Commonwealth Scientific and Industrial Research Organisation (CSIRO).</p>
                        <p>Jessica is also a Board member of WorkSafe Tasmania and a director of superannuation fund, Tasplan.</p>
                        <img src="/img/speakers/hobart/andy_flies.jpeg" alt="Andy Flies" width="300" class="img-rounded">
                        <h3>Andy Flies<br><small>Postdoctoral Research Fellow, Immunology
Menzies Institute for Medical Research</small></h3>
                        <p>Andy is an ARC Discovery Early Career Research Fellow, and has joint appointments with the Menzies Institute for Medical Research and the University of South Australia. His primary research interest is developing an immunotherapy treatment for the Tasmanian devil facial tumour disease. He has also initiated parallel studies to develop immunotherapy treatments for cancer in pets. Additionally, he has initiated research on novel peanut allergy diagnostics and therapies at UniSA.</p>
                        
            </div>
          </div>
          <hr><br>
          <div style="width:100%; text-align:left;"><iframe src="https://eventbrite.com.au/tickets-external?eid=44544588062&ref=etckt" frameborder="0" height="360" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="https://www.eventbrite.com.au/">Powered by Eventbrite</a></div></div>
            <div class="col-lg-12 text-center">
                <hr><br>
                <p>Not in {{ city.name }}? We're organising science marches all across Australia!</p>
                <p>See the <a href="https://marchforscienceaustralia.org">March For Science Australia</a> page for more details!</p>
                <!-- <p>If there aren't any marches near you or you can't make it come join the <a href="https://www.facebook.com/virtualmarchforscience/" target="_blank">Virtual March for Science</a>.</p> -->
            </div>
        </div>
</section>
