---
layout: cities
city: hobart
title: March for Science Hobart
permalink: /hobart/
hero: /img/heros/hobart-hero-px.jpg
---

{% assign city = site.data.cities[page.city] %}

<section id="details" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Event Details</h2>
                <h3>TBA</h3>
                <p class="text-muted">Saturday 14 April 2018</p>
                {% if city.eventbrite %}
                <h4><a href="{{city.eventbrite}}" title="RSVP" alt="RSVP" target="_blank">RSVP</a></h4>
                {% endif %}
                <hr><br>
                {% if city.merch %}
                <a href="{{city.merch}}" title="Merchandise" alt="Merchandise" target="_blank" style="background:#00517F url(/img/merch_icon.png) no-repeat 10px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 13px 17px 13px 56px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0 1px 0 0 #1f5a89; text-shadow: 0 1px rgba(0, 0, 0, 0.3); border-bottom: 0px; margin: 0 10px 0 10px;">Merchandise</a>
                {% endif %}
                {% if city.donation %}
                <script src="https://donorbox.org/install-popup-button.js" type="text/javascript" defer></script>
                <a class="dbox-donation-button" href="{{city.donation}}" style="background:#00517F url(https://d1iczxrky3cnb2.cloudfront.net/red_logo.png) no-repeat 18px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 13px 17px 13px 56px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0 1px 0 0 #1f5a89; text-shadow: 0 1px rgba(0, 0, 0, 0.3); border-bottom: 0px;">Donate</a>
                {% endif %}
                <hr><br>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                TBA
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center maps" >
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d788.0388926338553!2d144.9640869!3d-37.8098249!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642cba5a6a51b%3A0x451827e301e9d7c4!2sState+Library+Forecourt%2C+Melbourne+VIC+3000!5e0!3m2!1sen!2sau!4v1490462667754" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div> -->
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center">
          <h2>Get Involved</h2>
          <h3><a href="http://www.examiner.com.au/story/5276876/tasmanias-march-for-science-at-risk-of-being-cancelled/" target="_blank">Tasmania's March for Science struggles for volunteers</a></h3>
          <p>For those who might be interested in volunteering, both Hobart and Launceston volunteers are using a Facebook Messenger group chat to organise their events. Please feel free to send a friend request to <a href="https://www.facebook.com/jinohchoi" target="blank">Jin-oh Choi</a>, if you would like to be added to either city.<p>
          <img src="/img/Launceston+Hobart.jpg" width="300"/>
          <p>Both Hobart and Launceston events are being organised by Jin-oh Choi. He can be reached on 0408 271 800 or <a href="mailto:launceston@marchforscienceaustralia.org">launceston@marchforscienceaustralia.org</a>.</p>
          <hr><br>
          </div>
            <div class="col-lg-12 text-center">
                <h2>Speakers</h2>
                <p>TBA</p>
            </div>
            <div class="col-lg-12 text-center">
                <hr><br>
                <p>Not in {{ city.name }}? We're organising science marches all across Australia!</p>
                <p>See the <a href="https://marchforscienceaustralia.org">March For Science Australia</a> page for more details!</p>
                <p>If there aren't any marches near you or you can't make it come join the <a href="https://www.facebook.com/virtualmarchforscience/" target="_blank">Virtual March for Science</a>.</p>
            </div>
        </div>
    </div>
</section>
