---
layout: cities
city: melbourne
title: March for Science Melbourne
permalink: /melbourne/
hero: /img/heros/melbourne-hero-px.jpg
---

{% assign city = site.data.cities[page.city] %}

<section id="details" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Event Details</h2>
                <h3>Birrarung Marr</h3>
                <p class="text-muted">Saturday 14 April 2018<br />1:00 PM - 3:00 PM AEST</p>
                {% if city.eventbrite %}
                <h4><a href="{{city.eventbrite}}" title="RSVP" alt="RSVP" target="_blank">RSVP</a></h4>
                {% endif %}
                <hr><br>
                {% if city.merch %}
                <a href="{{city.merch}}" title="Merchandise" alt="Merchandise" target="_blank" style="background:#00517F url(/img/merch_icon.png) no-repeat 10px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 13px 17px 13px 56px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0 1px 0 0 #1f5a89; text-shadow: 0 1px rgba(0, 0, 0, 0.3); border-bottom: 0px; margin: 0 10px 0 10px;">Merchandise</a>
                {% endif %}
                {% if city.donation %}
                <script src="https://donorbox.org/install-popup-button.js" type="text/javascript" defer></script>
                <a class="dbox-donation-button" href="{{city.donation}}" style="background:#00517F url(https://d1iczxrky3cnb2.cloudfront.net/red_logo.png) no-repeat 18px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 13px 17px 13px 56px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0 1px 0 0 #1f5a89; text-shadow: 0 1px rgba(0, 0, 0, 0.3); border-bottom: 0px;">Donate</a>
                {% endif %}
                <hr><br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center maps" >
                <iframe width="100%" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJIXktmrlC1moRQPgxBXZWBA8&key=AIzaSyBfL1AlC9XUuWcfoHVxR4QMpHvdBG8Idfw" allowfullscreen></iframe>
                <hr>
            </div>
        </div>
        <div class="row" id="speakers">
          <div class="col-lg-12 text-center">
            <h2>Speakers</h2>
          </div>
          <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center">
                <h3>Ms Krystal De Napoli<br><small></small></h3>
                <img src="" alt="Krystal De Napoli" width="300" class="img-rounded">
                <p>A Kamilaroi woman undertaking an undergraduate degree in astrophysics at Monash University. In 2018 she will be commencing a cadetship with the CSIRO's Data61 team, and is working closely with Dr Duane Hamacher and Indigenous Elders in their research into Indigenous astronomical traditions.</p>
                <h3>Dr Duane Hamacher<br><small></small></h3>
                <img src="/img/speakers/melbourne/duane_hamacher.jpg" alt="Duane Hamacher" width="300" class="img-rounded">
                <p>An astronomer and Senior ARC Discovery Early Career Research Fellow at the Monash Indigenous Studies Centre. He publishes extensively on Indigenous astronomical and geological knowledge and traditions, working closely with Aboriginal and Islander elders, students, and knowledge custodians across Australia.</p>
                <h3>Dr Linda McIver<br><small></small></h3>
                <img src="/img/speakers/melbourne/linda_mciver.jpg" alt="Linda McIver" width="300" class="img-rounded">
                <p>Founder and Executive Director of the Australian Data Science Education Institute, she is working to ensure that every Australian student has the opportunity to be Computationally and Data Literate.</p>
                <h3>Professor Roger Jones<br><small></small></h3>
                <img src="/img/speakers/melbourne/roger_jones.jpg" alt="Roger Jones" width="300" class="img-rounded">
                <p>Professorial Research Fellow at the Victoria Institute for Strategic Economic Studies at Victoria University. He leads a small team who work on climate-related risk, ecological and institutional economics and building research into practice.</p>
                <h3>Dr Andrew Siebel<br><small></small></h3>
                <img src="/img/speakers/melbourne/andrew_siebel.jpg" alt="Andrew Siebel" width="300" class="img-rounded">
                <p>Research Manager of the Centre for Systems Genomics, The University of Melbourne. He is also Academic Convenor for the Computational Biology Research Initiative.</p>
                <h3>Dr Tien Huynh<br><small></small></h3>
                <img src="/img/speakers/melbourne/tien_huynh.jpg" alt="Tien Huynh" width="300" class="img-rounded">
                <p>Selected for Superstars of STEM for her work promoting environmental sustainability, and improving the quality of life and equality for the underprivileged. co-founder of the Centre for Health and Biological Innovations Lab. Her current work focuses on cancer, tissue repair, neuropharmacology and drug discovery technologies.</p>
          </div>
        </div>
        </div>
        <hr><br>
        <div style="width:100%; text-align:left;"><iframe src="https://eventbrite.com.au/tickets-external?eid=44828696839&ref=etckt" frameborder="0" height="360" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="https://www.eventbrite.com.au/">Powered by Eventbrite</a></div></div>
      <div class="col-lg-12 text-center">
        <hr><br>
        <p>Not in {{ city.name }}? We're organising science marches all across Australia!</p>
        <p>See the <a href="https://marchforscienceaustralia.org">March For Science Australia</a> page for more details!</p>
        <!-- <p>If there aren't any marches near you or you can't make it come join the <a href="https://www.facebook.com/virtualmarchforscience/" target="_blank">Virtual March for Science</a>.</p> -->
      </div>
    </div>
</section>
