---
layout: cities
city: melbourne
title: March for Science Melbourne
permalink: /melbourne/
hero: /img/heros/melbourne-hero-px.jpg
---

{% assign city = site.data.cities[page.city] %}

<section id="details" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Event Details</h2>
                <h3>{{city.location.venue}}</h3>
                <p class="text-muted">{{city.date}}<br />{{city.time}}</p>
                {% if city.eventbrite %}
                <h4><a href="{{city.eventbrite}}" title="RSVP" alt="RSVP" target="_blank">RSVP</a></h4>
                {% endif %}
                <hr><br>
                {% if city.merch %}
                <a href="{{city.merch}}" title="Merchandise" alt="Merchandise" target="_blank" style="background:#00517F url(/img/merch_icon.png) no-repeat 10px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 13px 17px 13px 56px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0 1px 0 0 #1f5a89; text-shadow: 0 1px rgba(0, 0, 0, 0.3); border-bottom: 0px; margin: 0 10px 0 10px;">Merchandise</a>
                {% endif %}
                {% if city.donation %}
                <script src="https://donorbox.org/install-popup-button.js" type="text/javascript" defer></script>
                <a class="dbox-donation-button" href="{{city.donation}}" style="background:#00517F url(https://d1iczxrky3cnb2.cloudfront.net/red_logo.png) no-repeat 18px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 13px 17px 13px 56px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0 1px 0 0 #1f5a89; text-shadow: 0 1px rgba(0, 0, 0, 0.3); border-bottom: 0px;">Donate</a>
                {% endif %}
                <hr><br>
            </div>
        </div>
        <div class="row" id="speakers">
          <div class="col-lg-12 text-center">
            <h2>Speakers</h2>
          </div>
          <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center">
                
                <h3>Dr Amy Edwards</h3>
                <p>Homeward Bound 3; Postdoctoral Research Officer, Ecology, Environment & Evolution, Latrobe University</p>
                
                <h3>Dr Anita Goh</h3>
                <p>Homeward Bound 3; Superstars of STEM 2019; Clinical Neuropsychologist and Research Fellow, National Ageing Research Institute Neuropsychiatry Unit, Royal Melbourne Hospital. Academic Unit for Psychiatry of Old Age, The University of Melbourne</p>
                
                <h3>Dr Kudzai Kanhutu</h3>
                <p>Superstars of STEM 2019; Infectious diseases physician, Telehealth Clinical lead, Deputy Medical Information Officer, Royal Melbourne Hospital. University of Melbourne</p>
                
                <h3>Mr Simon Pampena</h3>
                <p>Math & Science Communicator, Comedian, Writer, Researcher, Presenter with Discovery International’s Outrageous Acts of Science, Australian Numeracy Ambassador 2009-2017</p>
          
           </div>
        </div>
        </div>
        <hr><br>
        <p>
            For more details visit the <a href="https://rsv.org.au/events/science-advocacy/">event page</a> on Royal Society of Victoria website.
        </p>
        <div style="width:100%; text-align:left;">
          <p><iframe src="https://eventbrite.com.au/tickets-external?eid=60390802516&amp;ref=etckt" width="100%" height="478" frameborder="0" marginwidth="5" marginheight="5" scrolling="auto"></iframe></p>
        </div>
      <div class="col-lg-12 text-center">
        <hr><br>
        <p>Not in {{ city.name }}? We're organising science marches all across Australia!</p>
        <p>See the <a href="https://marchforscienceaustralia.org">March For Science Australia</a> page for more details!</p>
        <!-- <p>If there aren't any marches near you or you can't make it come join the <a href="https://www.facebook.com/virtualmarchforscience/" target="_blank">Virtual March for Science</a>.</p> -->
      </div>
    </div>
</section>
