---
layout: cities
city: perth
title: March for Science Perth
permalink: /perth/
hero: /img/heros/perth-hero-px.jpg
---

{% assign city = site.data.cities[page.city] %}

<section id="details" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Event Details</h2>
                <h3>Murray St (in front of Commonwealth Bank)</h3>
                <p class="text-muted">Saturday 14 April 2018<br>1:00 PM – 2:30 PM AWST</p>
                {% if city.eventbrite %}
                <h4><a href="{{city.eventbrite}}" title="RSVP" alt="RSVP" target="_blank">RSVP</a></h4>
                {% endif %}
                <hr><br>
                {% if city.merch %}
                <a href="{{city.merch}}" title="Merchandise" alt="Merchandise" target="_blank" style="background:#00517F url(/img/merch_icon.png) no-repeat 10px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 13px 17px 13px 56px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0 1px 0 0 #1f5a89; text-shadow: 0 1px rgba(0, 0, 0, 0.3); border-bottom: 0px; margin: 0 10px 0 10px;">Merchandise</a>
                {% endif %}
                {% if city.donation %}
                <script src="https://donorbox.org/install-popup-button.js" type="text/javascript" defer></script>
                <a class="dbox-donation-button" href="{{city.donation}}" style="background:#00517F url(https://d1iczxrky3cnb2.cloudfront.net/red_logo.png) no-repeat 18px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 13px 17px 13px 56px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0 1px 0 0 #1f5a89; text-shadow: 0 1px rgba(0, 0, 0, 0.3); border-bottom: 0px;">Donate</a>
                {% endif %}
                <hr><br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-lg-12 text-center maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3385.2926436285293!2d115.85683285075142!3d-31.952956681136452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2a32bad688376973%3A0x12cabec450ceba0b!2sMurray+Street+Mall+%26+Forrest+Pl%2C+Perth+WA+6000!5e0!3m2!1sen!2sau!4v1492183979019" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div> -->
        <div class="row" id="speakers">
          <div class="col-lg-12 text-center">
              <h2>Speakers</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center">
                      <img src="/img/speakers/perth/steven_tingay.jpg" alt="Steven Tingay" width="300" class="img-rounded">
                      <h3>Distinguished Professor Steven Tingay<br><small>Distinguished Professor, John Curtin University</small></h3>
                      <p>Steven Tingay is an Astrophysicist, John Curtin Distinguished Professor, Director of Curtin Institute of Radio Astronomy and Deputy Executive Director of International Centre for Radio Astronomy Research. He is an expert in astronomy and astrophysics, in particular radio astronomy. His areas of expertise encompass building and using radio telescopes, as well as astrophysical interpretation. Professor Tingay likes designing challenging and novel experiments to answer the fundamental questions about the Universe. Prof. Tingay has been at Curtin University since 2007, prior to 2007 he was at Swinburne University of Technology, CSIRO, and the NASA Jet Propulsion Laboratory in Pasadena.</p>
                      <img src="/img/speakers/perth/christobel_saunders.jpg" alt="Christobel Saunder" width="300" class="img-rounded">
                      <h3>Professor Christobel Saunders<br><small>MB BS, FRCS, FRACS, FAAHMS</small></h3>
                      <p>Professor Christobel Saunders MB BS, FRCS, FRACS, FAAHMS 2017 WA Scientist of the Year is internationally recognised as one of Australia’s most prominent research-orientated cancer surgeons.</p>
<p>Professor Saunders is a Consultant Surgeon at Royal Perth, St John of God and Fiona Stanley Hospitals, and Professor of Surgical Oncology at UWA.</p>
<p>She has a particular research interest in breast cancer including clinical trials of new treatments, supportive care, and translational and health services research which have led to better treatments for people with cancer and improved survival.</p>
<img src="/img/speakers/perth/chaminda_ranasinghe.jpg" alt="Chaminda Ranasinghe" width="300" class="img-rounded">
<h3>Chaminda Ranasinghe<br><small>PhD candidate, Edith Cowan University</small></h3>
<p>Chaminda is a PhD candidate in neuroscience from Edith Cowan University. He was one of the 2017 FameLab National contestants and is passionate about science communication in the fields of medicine and environmental biotechnology. He has a research background in microbiology, plant pathology and genetics. He believes science education must be universal, and is the most sustainable way to tackle many of todays problems threatening science.</p>
<img src="/img/speakers/perth/catriona_lorenz.jpg" alt="Catriona Lorenz" width="300" class="img-rounded">
<h3>Catriona Lorenz<br><small></small></h3>
<p>Catriona completed a Bachelor of Education majoring in Art at Edith Cowan University, raised two boys and has worked in the public sector for over twenty years in a variety of roles. She is currently a data analyst and also an avid reader of science, scepticism and history.</p>
<p>Catriona thinks a minimum level of education in critical thinking and scientific literacy is essential for those who wish to be effective citizens. She is supporting the March for Science because she believes that science and its related disciplines are the key to addressing urgent challenges that face humanity such as climate change.</p>
<p>More speakers to be announced in the next few days.</p>
<img src="/img/speakers/perth/caroline_perks.jpg" alt="Caroline Perks" width="300" class="img-rounded">
<h3>Caroline Perks<br><small></small></h3>
<p>Caroline has been a passionate advocate for the environment, since growing up in the Perth hills and has built this passion into a career. Caroline now has over six years’ experience in sustainability and climate change mitigation and adaptation policy throughout all three tiers of government; Federal, State and local. Through this work she values and understands the importance of using science to inform decision-making.</p>
<p>Caroline has a Bachelor Degree in Commerce and has completed a Master’s degree in Environmental Management and Development at the Australian National University with units in Domestic and International Climate Change Economics and Policy and International Environmental Policy.</p>
<p>Alongside this work, Caroline has also been a passionate climate change campaigner and advocate for climate action. Caroline is a board member of the Conservation Council of WA, climate change portfolio lead for United Nations Association of Australia (WA) Environment Committee. She has been trained in climate change communication by Al Gore, and is a Local Coordinator for the Climate Reality Leadership Project.</p>
<p>Additionally, at the end of 2015, Caroline took herself to Paris to be there on the streets and at side events while the Paris Agreement was being drafted and negotiated.</p>
<p>Caroline also had a key role in the most recent Federal and State election campaigns and stood in the recent State election as the Greens Lower House candidate for the seat of Maylands. Through her campaign, hundreds of conversations on renewable energy and climate change were had throughout the electorate.</p>
<p>All of these actions have been undertaken with an evidence based approach towards building a better world for all people.</p>
</div>
        </div>
        <hr><br>
            <div style="width:100%; text-align:left;"><iframe src="https://eventbrite.com.au/tickets-external?eid=32582830122&ref=etckt" frameborder="0" height="360" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="https://www.eventbrite.com.au/">Powered by Eventbrite</a></div></div>        
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Not in {{ city.name }}? We're organising science marches all across Australia!</p>
                <p>See the <a href="https://marchforscienceaustralia.org">March For Science Australia</a> page for more details!</p>
                <!-- <p>If there aren't any marches near you or you can't make it come join the <a href="https://www.facebook.com/virtualmarchforscience/" target="_blank">Virtual March for Science</a>.</p> -->
            </div>
        </div>
    </div>
</section>
