---
layout: cities
city: perth
title: March for Science Perth
permalink: /perth/
hero: /img/heros/perth-hero-px.jpg
---

{% assign city = site.data.cities[page.city] %}

<section id="details" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Event Details</h2>
                <h3>Murray St Mall and Forrest Place</h3>
                <p class="text-muted">Saturday 22 April 2017 <br> 10:30AM - 2PM</p>
                {% if city.eventbrite %}
                <h4><a href="{{city.eventbrite}}" title="RSVP" alt="RSVP" target="_blank">RSVP</a></h4>
                {% endif %}
                <hr><br>
                {% if city.merch %}
                <a href="{{city.merch}}" title="Merchandise" alt="Merchandise" target="_blank" style="background:#00517F url(/img/merch_icon.png) no-repeat 10px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 13px 17px 13px 56px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0 1px 0 0 #1f5a89; text-shadow: 0 1px rgba(0, 0, 0, 0.3); border-bottom: 0px; margin: 0 10px 0 10px;">Merchandise</a>
                {% endif %}
                {% if city.donation %}
                <script src="https://donorbox.org/install-popup-button.js" type="text/javascript" defer></script>
                <a class="dbox-donation-button" href="{{city.donation}}" style="background:#00517F url(https://d1iczxrky3cnb2.cloudfront.net/red_logo.png) no-repeat 18px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 13px 17px 13px 56px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0 1px 0 0 #1f5a89; text-shadow: 0 1px rgba(0, 0, 0, 0.3); border-bottom: 0px;">Donate</a>
                {% endif %}
                <hr><br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 ">
                <p>This Earth Day &ndash; on Saturday 22nd April beginning at 10:30am -- we will gather on Murray St Mall to speak up for the critical role science education and research play in Western Australia and the global community: to drive evidence-based policy, support health and wellbeing, secure our future, and simply marvel at the wonder of scientific discovery.&nbsp;</p>

                <p>We&rsquo;ll be joined by some of WA&rsquo;s top scientists and change-makers, including Lyn Beazley, 2015 Australian of the Year, and Carmen Lawrence, former Premier of WA.&nbsp;</p>

                <p><strong>Time:</strong> 10:30am-2pm</p>

                <p><strong>Location:</strong> The intersection of Murray St Mall and Forrest Place (by the information kiosk, Top Shop and Commonwealth Bank)</p>

                <p><strong>Who:</strong> Anyone who celebrates the role of science in a thriving society! This is NOT an event just for scientists; we want to send a clear message that scientific discovery and application is valued far beyond the lab. Bring the family, and tell your friends. And by all means, bring posters telling the world why this matters!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3385.2926436285293!2d115.85683285075142!3d-31.952956681136452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2a32bad688376973%3A0x12cabec450ceba0b!2sMurray+Street+Mall+%26+Forrest+Pl%2C+Perth+WA+6000!5e0!3m2!1sen!2sau!4v1492183979019" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center">Speakers</h2>
                <hr><br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center">

                <h3>Prof. Phil Bland</h3>
                <h4>Planetary scientist and director of the Desert Fireball Network</h4>

                <h3>Prof. Lyn Beazley</h3>
                <h4>2015 Australian of the Year and former WA Chief Scientist</h4>

                <h3>Carmen Lawrence</h3>
                <h4>Psychologist and former WA Premier</h4>

                <h3>Trent Burton</h3>
                <h4>Media producer and Young West Australian of the Year recipient</h4>

                <h3>Akram Azimi</h3>
                <h4>Young Australian of the Year</h4>

                <h3>Suzy Urbaniak</h3>
                <h4>Geologist and winner of the Prime Minister&rsquo;s Prize for Excellence in Science Teaching</h4>

                <h3>Peter Derbyshire</h3>
                <h4>Council of Australian Postgraduate Associations President</h4>

                <h3>Toby Brown</h3>
                <h4>Astrophysicist</h4>

                <h3>Melinda Fitzgerald</h3>
                <h4>Professor of neurotrauma</h4>

                <h3>Callum Ormonde</h3>
                <h4>TEDx Perth and UWA researcher</h4>

            </div>
        </div>
        <hr><br>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Not in {{ city.name }}? We're organising science marches all across Australia!</p>
                <p>See the <a href="https://marchforscienceaustralia.org">March For Science Australia</a> page for more details!</p>
                <p>If there aren't any marches near you or you can't make it come join the <a href="https://www.facebook.com/virtualmarchforscience/" target="_blank">Virtual March for Science</a>.</p>
            </div>
        </div>
    </div>
</section>
