---
layout: cities
city: townsville
title: March for Science Townsville
permalink: /townsville/
hero: /img/heros/townsville-hero-px.jpg
---

{% assign city = site.data.cities[page.city] %}

<section id="details" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Event Details</h2>
                <h3>Gregory St Amphitheatre</h3>
                <p class="text-muted">Saturday 14 April 2018<br/>12:00 PM - 3:00 PM AEST</p>
                {% if city.eventbrite %}
                <h4><a href="{{city.eventbrite}}" title="RSVP" alt="RSVP" target="_blank">RSVP</a></h4>
                {% endif %}
                <hr><br>
                {% if city.merch %}
                <a href="{{city.merch}}" title="Merchandise" alt="Merchandise" target="_blank" style="background:#00517F url(/img/merch_icon.png) no-repeat 10px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 13px 17px 13px 56px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0 1px 0 0 #1f5a89; text-shadow: 0 1px rgba(0, 0, 0, 0.3); border-bottom: 0px; margin: 0 10px 0 10px;">Merchandise</a>
                {% endif %}
                {% if city.donation %}
                <script src="https://donorbox.org/install-popup-button.js" type="text/javascript" defer></script>
                <a class="dbox-donation-button" href="{{city.donation}}" style="background:#00517F url(https://d1iczxrky3cnb2.cloudfront.net/red_logo.png) no-repeat 18px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 13px 17px 13px 56px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0 1px 0 0 #1f5a89; text-shadow: 0 1px rgba(0, 0, 0, 0.3); border-bottom: 0px;">Donate</a>
                {% endif %}
                <hr><br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>Join us at the second annual March for Science! If you are passionate about science, we want to see you. If you want to see policies from the government that are based on evidence, we want you there. If you want to share your concerns about how science is often seen as a negative thing, come and speak up with us. If you simply think science is awesome and you want to share that love with others, join us to celebrate science. The Townsville March for Science will have speeches, a march, and a science fair. It's all happening on Saturday, April 14, on the Strand.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <ul>
                  <li>Rally/speaking: Gregory St Amphitheatre, 12 pm</li>
                  <li>March begins: 12:30 pm</li>
                  <li>March ends at the Tobruk Pools parklands: 1 pm</li>
                  <li>Science fair continues at the Tobruk Pools until 3 pm</li>
                </ul>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>The event is wheelchair accessible and we will have Auslan interpreters.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center maps">
                <iframe width="100%" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJpzcIrMb41WsRO5UHBp3-zWE&key=AIzaSyBfL1AlC9XUuWcfoHVxR4QMpHvdBG8Idfw" allowfullscreen></iframe>
                <hr>
            </div>
        </div>
<div class="row" id="speakers">
    <div class="col-lg-12 text-center">
        <h2>Speakers</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center">
                <h3>'Big' Wil Reuben<br><small>Master of Ceremonies</small></h3>
                <img src="/img/speakers/townsville/wil_reuben.jpg" alt="Wil Reuben" width="300" class="img-rounded">
                <p>Reuben is a young Aboriginal and Torres Strait Islander man who has been an advocate for climate justice and social justice ever since high school. He acknowledges and respects the integral part that science plays in shaping the future of the Human Race.</p>
                <img src="/img/speakers/townsville/peter_junk.jpg" alt="Peter Junk" width="300" class="img-rounded">
                <h3>Professor Peter Junk<br><small>President, Royal Australian Chemical Institute</small></h3>
                <p>Junk graduated from The University of Western Australia in 1984 obtaining a Bachelor of Science with first class honours in Physical and Inorganic Chemistry, and completed a Ph.D in Organometallic Chemistry under the supervision of Professor Colin Raston in 1988. He obtained a DSc from James Cook University for his international reputation in organometallic chemistry of the main group and rare earth elements. He is currently the Nevitt Professor of Chemistry at James Cook University.</p>
                <p>His main research interests are in rare earth and main group organometallic, organoamido and aryloxo chemistry. He has published in excess of 400 publications and reviews and was the 2016 recipient of the Burrows award, the premier award for Inorganic Chemistry in the Royal Australian Chemical Institute. He was awarded the international Terrae Rarae prize in 2016 for his contributions to rare earth chemistry. He is also the current President of the Royal Australian Chemical Institute.</p>
                <img src="/img/speakers/townsville/maria_nayfa.jpg" alt="Maria Nayfa" width="300" class="img-rounded">
                <h3>Maria Nayfa<br><small></small></h3>
                <p>Maria Nayfa graduated with distinction from Duke University in 2011 with a Bachelor of Science in Environmental Science, James Cook University in 2014 with a Master of Science in Marine Biology, and is currently a PhD candidate at James Cook University. Her current research aims to unravel the effects of selection on a breeding program of Nile tilapia in Egypt using genomic tools.</p>
                <p>Maria is a firm believer that science is for the masses and is starting her career as a science communicator in order to help do just that!  She has participated in science communication competitions, like 3 Minute Thesis and FameLab Australia, where she was a 2017 National Finalist. You can follow her on twitter <a href="https://twitter.com/mnayfa12" target="_blank">@mnayfa12</a>.</p>
    </div>
</div>
<hr><br>
<div style="width:100%; text-align:left;"><iframe src="https://eventbrite.com.au/tickets-external?eid=44437521824&ref=etckt" frameborder="0" height="360" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="https://www.eventbrite.com.au/">Powered by Eventbrite</a></div></div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <hr><br>
                <p>Not in {{ city.name }}? We're organising science marches all across Australia!</p>
                <p>See the <a href="https://marchforscienceaustralia.org">March For Science Australia</a> page for more details!</p>
                <!-- <p>If there aren't any marches near you or you can't make it come join the <a href="https://www.facebook.com/virtualmarchforscience/" target="_blank">Virtual March for Science</a>.</p> -->
            </div>
        </div>
    </div>
</section>
